html, body{
  height: 100%;
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("./assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  font-family: Poppins-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  font-family: Poppins-Regular;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

