.container{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.image{
    flex: 1;
    height: 100vh;
    background-color: #aaaaaa;
        .register-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .form-register{
        width: 450px;
        background-color: #ffffff;
        padding: 20px;
        height: 100%;
        box-sizing: border-box;
    }
.title{
    text-align: center;
}