.main-app-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .header-wrapper{
        -webkit-box-shadow: 0 10px 6px -6px rgb(221, 221, 221);
        -moz-box-shadow: 0 10px 6px -6px rgb(221, 221, 221);
             box-shadow: 0 10px 6px -6px rgb(221, 221, 221);
    }
    .content-wrapper{
        flex: 1;
        max-width: 1200px;
        margin: auto;
        width: 100%;
    }
    .footer-wrapper{
        margin: 0px;
    }
}